.nav {
    height:100px;
    color:white;
    background-color: blue;
    text-align: center;
    font-size: 40px;
    width:100%;
}

.profileCard{
    height: 300px;
    width: 225px;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding:10px;
}

.memberCredentials{
    background-color: rgb(212, 212, 212);
    
}