

.nav {
    height:100px;
    color:white;
    background-color: blue;
    text-align: center;
    font-size: 40px;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.profileBox{
    align-items: center;
    display: flex;
    justify-content: center;
    height:500px;
    gap:15px;
}

.profileCard{
    height: 250px;
    width: 225px;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding:10px;
    box-shadow: 6px 6px 2px rgb(151, 149, 149);
    align-items: center;
    display: flex;
    justify-content: center;
}

.memberCredentials{
    font-size: 18px;
    margin-top: 30px;
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
    height:100px;
    
}